* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colors: (
  gray: (
    hue: 260,
    saturation: 8,
  ),
  red: (
    hue: 360,
    saturation: 46,
  ),
  yellow: (
    hue: 60,
    saturation: 46,
  ),
  green: (
    hue: 120,
    saturation: 46,
  ),
  blue: (
    hue: 220,
    saturation: 46,
  ),
  primary: (
    hue: 260,
    saturation: 46,
  ),
);

$lightness-step: 9;
$lightness-base: 6;

$font-size-base: 14;
$font-size-step: 6;

$size-base: 6;
$size-step: 9;

@function fontSize($weight, $step: $font-size-step, $base: $font-size-base) {
  @return calc(($base + ($step * $weight)) * 1px);
}

:root {
  --color-neo-expertise: #9540bf;

  @each $color, $properties in $colors {
    // @each $property, $value in $properties {
    // }
    @for $i from 1 through 9 {
      $hue: map-get($properties, hue);
      $saturation: map-get($properties, saturation) + "%";
      // $lightness: $lightness-base + ($lightness-step * $i) + "%";

      // i subtract the index from 9 to make 900 the darkest and 100 the lightest
      $lightness: $lightness-base + ($lightness-step * (9 - $i)) + "%";

      // prettier-ignore
      --color-#{$color + ""}-#{$i * 100}: hsl(#{$hue}, #{$saturation}, #{$lightness});
    }
  }

  @for $i from 0 through 8 {
    // --size-#{$i * 100}: calc(
    //   (var(--size-base) + (var(--size-step) * $i)) * 1px
    // );
    --size-#{($i + 1) * 100}: #{$size-base + $i * $size-step}px;
  }

  @for $i from 1 through 6 {
    /**
      WHY 8 - $i?

      heading 2 - weight 6
      heading 3 - weight 5
      heading 4 - weight 4
      heading 5 - weight 3
      heading 6 - weight 2

      notice a pattern?

      2 + 6 = 8
      3 + 5 = 8
      4 + 4 = 8
      5 + 3 = 8
      6 + 2 = 8

      they all add up to 8, if i make some quick maths i come up with the following equation

      8 = $i + x
      x = 8 - $i

      x being the weight to put into the FontSize function.
    */

    --font-size-heading-#{$i}: #{fontSize(8 - $i)};
  }

  --font-size-text: #{fontSize(1)};
  --font-size-small: #{fontSize(0)};

  --desktop-max-width: 948px;
  --tablet-max-width: 595px;
  --mobile-max-width: 385px;
}

@media screen and (max-width: 744px) {
  :root {
    --font-size-heading-1: #{fontSize(6, 4)};
    --font-size-heading-4: #{fontSize(3, 4)};
    --font-size-heading-5: #{fontSize(2, 4)};
    --font-size-text: #{fontSize(1, 2)};
  }
}

@media screen and (max-width: 428px) {
  :root {
    --font-size-heading-1: #{fontSize(5, 3)};
    --font-size-heading-4: #{fontSize(2, 3)};
    --font-size-heading-5: #{fontSize(2, 3)};
  }
}

body {
  font-family: "Space Mono", sans-serif;
  color: var(--color-gray-100);
  background: var(--color-gray-900);

  * {
    font-family: "Space Mono", sans-serif;
  }
}

h1 {
  font-weight: 700;
  font-size: var(--font-size-heading-1);
}

h2 {
  font-weight: 700;
  font-size: var(--font-size-heading-2);
}

h3 {
  font-weight: 700;
  font-size: var(--font-size-heading-3);
}

h4 {
  font-weight: 700;
  font-size: var(--font-size-heading-4);
}

h5 {
  font-weight: 400;
  font-size: var(--font-size-heading-5);
}

h6 {
  font-weight: 400;
  font-size: var(--font-size-heading-6);
}

p {
  font-weight: 400;
  font-size: var(--font-size-text);
}

small {
  font-family: "JetBrains Mono";
  font-size: var(--font-size-small);
}

i,
.italic {
  font-style: oblique;
  font-style: italic;
}

.weight-700 {
  font-weight: 700;
}

.weight-400 {
  font-weight: 400;
}

.weight-200 {
  font-family: "JetBrains Mono";
  font-weight: 200;
}

.section-content {
  width: max-content;
}

button,
input,
select,
textarea {
  cursor: pointer;
  outline: none;
  border: none;
}
